.error{
    color:red;
    font-size:30px;
    font-weight:bold;
}
.result{
    color:green;
    font-size:30px;
    font-weight:bold;
}
.result1{
    color:green;
    font-size:30px;
    font-weight:bold;
}